[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "*"
torch = "==2.0.1"
torchvision = "*"
opencv-python = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
